<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>JQHS</span>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink="/playerList">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="group">group</mat-icon>
      </button>
      <button mat-icon-button routerLink="/playerList">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="">assignment</mat-icon>
      </button>
      <button mat-icon-button routerLink="/schedule">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="">schedule</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>dashboard</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">
          <mat-icon>assignment_ind</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/manage">
          <mat-icon>settings</mat-icon>
          <span>Manage</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->