<div class="example-container">
  <form>
      <mat-radio-group aria-label="Select an option">
          <mat-radio-button name="group" value="1" style="padding:10px;">Group 1 Schedule</mat-radio-button>
          <mat-radio-button name="group" value="2">Group 2 Schedule</mat-radio-button>
        </mat-radio-group>
  </form>
  
<mat-list>
        <mat-list-item *ngFor="let list of times">
          <mat-icon matListIcon>{{list.icon}}</mat-icon>
          <h3 matLine>{{list.name}}</h3>
          <p matLine>
            <span></span>
            <span class="demo-2"> {{list.time}} </span>
            <span class="demo-2"> Group: {{list.group}} </span>
          </p>
        </mat-list-item>
</mat-list>
</div>